- @listings.each do |l|
  .listing
    .container-fluid
      .row
        .col-md-12
          .row
            .col-md-12
              .name
                %h3
                  = l.title
          .row
            .col-md-4
              %p.date
                = l.created_at.strftime("%F %H:%M")
            .col-md-8
              %a.category
                %span.badge
                  = l.category.name
          .row
            .col-md-4
              = image_tag l.picture, width: 300, class: 'img-responsive'
            .col-md-8
              .row
                .col-md-12
                  %p
                    = l.description
              .row
                .col-md-6
                  .price
                    %p
                      = number_to_currency(l.price, :unit => "€")
                .col-md-6
                  .pull-right
                    - if user_signed_in?
                      /= button_to t("contact"), new_listing_path, class: "btn btn-warning", method: :get #todo: modal
                      /= link_to t('contact'), new_user_session_path, class: 'btn btn-primary pull-right'

                    - else
                      = button_to t("contact"), new_user_session_path, class: "btn btn-warning", method: :get
