- @listings.each do |listing|
  .listing
    .container-fluid
      .row
        .col-md-12
          .row
            .col-md-12
              .name
                %h3
                  = listing.title
          .row
            .col-md-2
              %p.date
                = listing.created_at.strftime("%F %H:%M")
            .col-md-10
              %a.category{:href => "#{listings_path(category_id: listing.category.id)}"}
                %span.badge
                  = listing.category.name
          .row
            .col-md-4
              = image_tag listing.thumbnail , width: 300, class: 'img-responsive'
            .col-md-8
              .row
                .col-md-12
                  %p
                    = listing.description
              .row
                .col-md-6
                  .price
                    %p
                      = number_to_currency(listing.price, :unit => "€")
                .col-md-6
                  .pull-right
                    - if user_signed_in?
                      = button_to t("contact"), new_listing_path, class: "btn btn-warning", method: :get #todo: modal
                      /= link_to t('contact'), new_user_session_path, class: 'btn btn-primary pull-right'

                    - else
                      = button_to t("contact"), new_user_session_path, class: "btn btn-warning", method: :get
